@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

body {
	font-family: Nunito;
}

.productContainer {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: center;
}
