.filters {
	width: 300px;
	height: 346px;
	margin: 21px;
	&_filterBy {
		opacity: 0.5;
		font-size: 13px;
		color: #22232b;
	}
	.filter {
		display: flex;
		justify-content: space-between;
		height: 36px;
		margin-top: 25px;
		border-bottom: 2px solid #eaeaea;
	}
	.priceRange {
		height: 36px;
		margin-top: 25px;

		&_slider {
			height: 2px;
			margin-top: 25px;
			display: flex;
			justify-content: space-between;
			background-color: #eaeaea;
			svg {
				position: relative;
				bottom: 6px;
				font-size: 14px;
				background-color: white;
			}
		}

		&_prices {
			display: flex;
			justify-content: space-between;
			p {
				font-size: 13px;
				color: #22232b;
			}
		}
	}
}
