@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

nav {
	display: flex;
	margin: 40px;
	div {
		display: flex;
		align-items: center;
		width: 100%;
	}
	div:last-child {
		flex: 1 2 200px;
		justify-content: space-around;
	}
}
ul {
	display: flex;
	list-style: none;
	li {
		margin: 10px;
		font-weight: bold;
	}
}

.forms,
.buttons {
	display: flex;
	justify-content: space-evenly;
	form {
		height: 100px;
		display: flex;

		select {
			align-items: flex-start;
			border-color: gray;
			width: 305px;
			background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat
				right;
			-webkit-appearance: none;
			@media (max-width: 600px) {
				margin: 25px;
			}
		}
		input,
		select {
			outline: 0;
			font-size: 26px;
			font-family: 'Work Sans', sans-serif;
			border-width: 0 0 2px;
			height: 62px;
		}
		input {
			padding: 10px;
			border-color: black;
			font-weight: bold;
			letter-spacing: 1px;
			&[type="text"] {
				width: 100vh;
				height: 40px;

				@media (min-width: 600px) and (max-width: 900px) {
					width: 100%;
				}
				@media (max-width: 600px) {
					width: 100%;
				}
			}
		}
		input:focus {
			border-color: green;
		}
	}
}

.fa-home,
.fa-search {
	@media (max-width: 600px) {
		max-width: 8vh;
	}
}

.forms {
	flex-flow: row wrap;
}

button {
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	border: none;
}

.pagination {
	display: flex;
	span {
		margin: 8px 8px 8px;
		padding: 15px 15px 15px 0px;
		height: 25px;
		width: 40px;
		text-align: center;
		&:hover,
		&:first-child {
			background-color: rgb(34, 33, 33);
			color: white;
		}
	}
}
